{# 404 page #}
{%  extends 'template.view.twig' %}

  {% block content %}

  <section class="heading">
    <h2>404</h2>
    <p>The page you're looking for doesn't exist!</p>
  </section>

  {% endblock %}