{# basic index page #}
{% extends 'template.view.twig' %}

{% block content %}

    <section class="heading">
      <h2>Welcome to BB</h2>
    </section>
    <section class="content_fill">
      <h3>BB</h3>
    </section>

{% endblock %}