{# page to search the application of the current movies contained in the db #}
{%  extends 'template.view.twig' %}

  {% block content %}
    <section class="heading">
      <h2>Movie Search</h2>
      <div class="search">
        <div class="search_box">
          <input v-model="search" @keyup="pingApi" type="text" placeholder="Star Wars..." name="search">
        </div>       
      </div>
    </section>
    <ul class="cards" :style="cardStyle">
      <li v-for="movie in movies" class="card">
        <a :href="'./movie/' + movie.movieID">
          <div class="card_head">
            <img :src="'data:image/' + movie.mime + ';base64, ' + movie.img" :alt="movie.title">
          </div>
          <div class="card_details">
            {# vuejs used to display the results of the query #}
            {% verbatim %}
            <h4>{{ movie.title }}</h4>
            <p>{{  movie.description }}</p>
            {% endverbatim %}
          </div>
        </a>
      </li>
    </ul>
  {% endblock %}

  {% block footer %} 

    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="{{ base_url() }}/src/js/moviesearch.js"></script>

  </body>
  </html>

  {% endblock %}